composer.lock
.buildpath
.project
.settings/.jsdtscope
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.php.formatter.core.prefs
.settings/org.eclipse.php.formatter.ui.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
